<a href="/pokemon?id=<%= pokemon.id %>">
    <div class="pokemon-card">
        <img style="width: 100px; height: 100px; object-fit: contain;"
            src="images/PokemonImagesDB/<%= pokemon.name[0].toUpperCase() %><%= pokemon.name.slice(1) %>/<%= pokemon.name[0].toUpperCase() %><%= pokemon.name.slice(1) %>_new.png" />
        <div class="">
            <p class="pokemon-card-header">
                <%= pokemon.name.toUpperCase()%>


            </p>
            <p class="pokemon-card-info">/PokemonImagesDB/<%= pokemon.name[0].toUpperCase() %><%= pokemon.name.slice(1) %>/<%= pokemon.name[0].toUpperCase() %><%= pokemon.name.slice(1) %>_new.png</p>
                <%= pokemon.name.slice(1) %>
        </div>
    </div>
</a>