<a href="/pokemon?id=<%= pokemon.id %>">
    <div class="pokemon-card">
        <img style="width: 100px; height: 100px;"
            src="images/PokemonImagesDB/<%= pokemon.name[0].toUpperCase() %><%= pokemon.name.slice(1) %>/<%= pokemon.name[0].toUpperCase() %><%= pokemon.name.slice(1) %>_new.png" />
        <div>
            <%= pokemon.name.toUpperCase()%>
            <p>/PokemonImagesDB/<%= pokemon.name[0].toUpperCase() %><%= pokemon.name.slice(1) %>/<%= pokemon.name[0].toUpperCase() %><%= pokemon.name.slice(1) %>_new.png</p>
                <%= pokemon.name.slice(1) %>
        </div>
    </div>
</a>